# INFURA KEYS
INFURA_KEY_1="CAN USE SAME KEY ACROSS"
INFURA_KEY_2=""
INFURA_KEY_3=""

# DEPLOYER KEYS & ADDRESS
DEPLOYER_ADMIN="PRIVATE KEY TO DEPLOY SMART WALLET"
OWNER="PRIVATE KEY TO CREATE WAAS CONTRACTS -> SHOULD NEVER LEAVE YOUR LOCAL ENVIRONENT AS ITS A SUPER KEY"
SMARTWALLET_ADMIN="PRIVATE KEY TO TRANSFER TOKENS RECEIVED"
HOTWALLET_ADMIN="ADDRESS USED IN WAAS CONTRACT DEPLOYMENT" # This is a standard wallet address

# ALERT BOT SETUP
BOT_TOKEN="SECRET_BOT_TOKEN"
ALERT_CHANNEL="@CHANNEL_USERNAME -> PUBLIC CHANNEL: ADD BOT TO CHANNEL"

# SUPABASE DB
SUPABASE_URL="GET FROM SETTINGS/CONFIGURATION/API"
SUPABASE_KEY="PUBLI ANON KEY"

# UPSTASH REDIS SECRETS
UPSTASH_REDIS_URL="USED UPSTASH. ANY REDIS DB WORKS"
UPSTASH_REDIS_TOKEN="SECRET KEY"